.food-item {
    flex-direction: column;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
}

.food-list {
    background: white;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

.food-item__form {
    display: flex;
    flex-direction: column;
}

.food-item__input {
    display: flex;
}

.food-item__input label{
    padding: 0.4rem;
}

.food-item__input input {
    width: 3rem;
    border-radius: 8px;
    border: 1px gray solid;
    font-size: 1rem;
    padding: 0 8px;
}

.add-button {
    margin: 1rem 0;
    margin-left: 1.5rem;
    background: rgb(144, 3, 3);
    border: 1px black solid;
    color: white;
    border-radius: 16px;
}

.hr {
    color: gray;
    margin: 0 auto;
    width: 100%;
    height: 1px;
}

.food-title {
    margin: 0;
    font-size: 1.5rem;
}

.food-price {
    color: rgb(144, 3, 3);
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0;
}

.food-description {
    font-style: italic;
    margin: 0;
    padding: 0.5rem 0;
}
