/* .meal-background {
    background: url('../../images/food.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    position: relative;
} */

.meal-background {
    width: 100%;
    height: 35vh;
    position: relative;
    top: 10;
}

.meal-background img{
    width: 100%;
    height: 100%;
}
.meal-header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(144, 3, 3);
}

.meal-header__title{
    color: white;
    padding: 0 5rem;
}
